/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/05/2018, 18:28:44
    Author     : mariano
*/
body {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: flex-start; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    background-color: #ccc;
}
section {
    width: 900px;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    align-items: flex-start;     /* center items horizontally, in this case */
    background-color: white;
    
}
label {
    display: inline-block;
    width: 200px;
}
.formGroup {
    flex: 1;
    font-size: 16px;
    margin: 10px;    
}

